.article-feature-rooms {
    padding-top: 40px;
}

.feature-text-container {
    padding: 0 15px 0 15px;
}

.feature-text-margin {
     margin-bottom: 40px;
     text-align: center;
     
}

.room-text-container > h2 {
    color: var(--font-featured-color-innetText);
}

.room-text-container > span {
    color: var(--font-featured-color-innetText);
}


.feature-text-margin > span {
    display: inline-block;
    color: var(--font-featured-color-span);
    
    font-size: 14px;
    font-weight:400;
    line-height: 21px;
    margin-bottom: 15px;
}

.feature-text-margin > h2 {
    margin-bottom: 8px;
    font-weight: 400;
    line-height: 36px;
    font-size: 30px;
   color: var(--font-featured-color-title);
}

.rooms {
    width: 100%;
}

.single-room {
    min-width: 375px;
    height: 508px;
    min-height: 285.25px;
    margin-bottom: 30px;
}

.room {
    position:relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.room::before {
    content: "";
    display: block;
    position: absolute;
    background: linear-gradient(var(--transparent-background-image-fade) 30%, var(--black-background-image-fade));
    width: 100%;
    height: 100%;
    z-index: 2;
}

.room-thumb {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

.room-text {
    display: flex;
    position: absolute;
    align-items: center;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    left: 0;
    bottom: 0px;
    color: var(--branco-fonte);
    z-index: 2;
}

.room-text > a::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: aliceblue;
}

.room-text > a{
    position: relative;
    visibility: hidden; /* Esconde o botão de reserva*/
    color: var(--font-featured-color-innetText);
    display: flex;
    flex-direction: column;
}


@media only screen and (min-width:768px) {

    .rooms {
        display: flex;
        flex-wrap: wrap;
    }

    .single-room {
        min-width: 50%;
        max-width: 50%;
        margin: 0;
    }
}