.carousel-container-small {
    height: 400px;
    
}

.carousel-container {
    height: 100vh;
    position: relative;
}

.carousel-short-size{
    width: 80vw;
    justify-content: center;
}

.carousel {
    display: flex;
    overflow-x: auto; /* Permite scrollar no eixo x */
    -ms-overflow-style: none; /* Oculta scrollbar no IE e Edge */
    scrollbar-width: none;
    scroll-snap-type: x mandatory;/* Obriga o usuário a scrolar 100% */
    position: relative;
    height: 100%;
    color: var( --color-font-carousel);
    margin: auto;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel > li {
    
    width: 100vw;
    flex-shrink: 0;
    scroll-snap-align: center; /* Mantem o usuário sempre no centro da imagem */
    display: flex;
}

.carousel > li > img{
    width: 100%;
    overflow: hidden;
    object-fit: cover; /* ajusta a imagem para nao deixar esticada */
    filter: brightness(50%); /* Deixa o background escuro para aumentar o contraste como título */
}

.carousel-item-description {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 40%;
    width: 100vw;
    z-index: 1;
    padding: 0 32px 0 32px;
    gap: 24px;
}

.carousel-item-description > h1 {
    font-size: 2rem;
    font-weight: 200;
}
.carousel-item-description > p {
    font-size: 1rem;
}

.carousel_button_left, .carousel_button_right {
    position: absolute;
    top: 50%;
    background-color: var(--background-color-button-carousel);
    padding: 20px;
    border-radius: 50px;
    display: flex;
    margin: auto;
    z-index: 2;
}

.carousel_button_left:hover, .carousel_button_right:hover {
    background-color: var(--azul-claro-botao);
    transition: 1s;
}


.carousel_button_left{
    left: 10px;
    display: none;
}

.carousel_button_right {
    right: 10px;
    display: none;
}

.carousel_button_right > img, .carousel_button_left > img {
    width: 12px;
}

@media only screen and (min-width:576px){
    .carousel-container-small {
        height: 500px;
    }

}


@media only screen and (min-width:768px) {
    .carousel-container-small {
        height: 750px;
    }
   
}

@media only screen and (min-width: 1380px) {
    .carousel-item-description > h1 {
        font-weight: 400;
        font-size: 6rem;
    }
    .carousel-item-description > p {
    font-size: 2rem;
    }

    .carousel_button_left{
    left: 10px;
    display: block;
}

.carousel_button_right {
    right: 10px;
    display: block;
}
}